<%= stylesheet_link_tag "nav_bar.css" %>
<nav>
    <%= image_tag "abb logo.png", :class => "abb-logo" %>
    <ul class= "navigation-links">
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Recruitment</a></li>
        <li style="display:flex">More <div class="arrow"></div></li>

    </ul>

    <div class = "user-account">
        <%= image_tag "account.png", :class => "account-png" %>
    </div>
</nav>