<% @page_title = "About ABB" %>
<%= stylesheet_link_tag 'about' %>
<% content_for :main do %>

<main>
   <%= render :partial => 'page/nav_bar' %>
   <div class="container first-container-about">
        <div class = "row first-row make-f">
            <p class="tamu-row-1">Texas A&M’s Professional Brotherhood</p>

        </div>
        <div class = "row about-row">
            <div class="col-8 what-is-abb">
                <h1>What is ABB?</h1>
                <hr style="color:white">
                <p class="about-brandon">Howdy! My name is Brandon Homann, President of Aggie Business Brothers. ABB is a student-led and run organization at Texas A&M University. Our purpose is to facilitate the growth of our members by hosting professional events including guest speakers, recruiters, business etiquette seminars, resume reviews, interview skills, and excel workshops. 
                <br>
                <br>
                We strive to introduce a passion for business that will lead members to successful career opportunities. We place an emphasis on brotherhood in order to create a culture of integrity and excellence by bringing together members with a shared love for our University and our core values.
​                </p>
            </div>
            <div class="col-4 pic-of-brandon-div">
                <%= image_tag "pic-brandon.PNG", :class => "pic-brandon" %>
            </div>
        </div>
    </div>
</main>
<% end %>