<% @page_title = "Create Account" %>
<%= stylesheet_link_tag 'create_account' %>
<% content_for :main do %>

<main>
  <div class="container first-container-header">
    <p class="header"> Create an Account </p>
    <br>
  </div>
  <div class="container second-container-create">
    <div class = forma>
      <form>
          <label for="first_name">First Name:</label><br>
          <input type="text" id="first_name" name="first_name" placeholder="@enter first name"><br>
          <br>

          <label for="last_name">Last Name:</label><br>
          <input type="text" id="last_name" name="last_name" placeholder="@enter last name"><br>
          <br>

          <label for="email">Email:</label><br>
          <input type="text" id="email" name="email" placeholder="@enter email"><br>
          <br>

          <label for="password">Password:</label><br>
          <input type="password" id="password" name="password" placeholder="@enter password"><br>
          <br>

          <label for="password_confirm">Password Confirmation:</label><br>
          <input type="password_confirmation" id="password_confirmation" name="password_confirm" placeholder="@reenter password"><br>
          <br>

          <a href="/index" style="color:white;"><button type="button" class="buttonLog-back">Back</button></a> 
          <input type="submit" class="buttonLog-submit" value="Confirm">
      </form>
    </div>
  </div>
  <div class="container third-container-create">
    <p style="font-size:17.5px;">----------- OR -----------<p>
    <p style="font-size:16px;">Have an account? <a href="/login" style="color:#F78A8A;">Log in</a><p>
  </div>
</main>
<% end %>

      
