<% @page_title = "ABB Events" %>
<%= stylesheet_link_tag 'events' %>
<% content_for :main do %>
<main>
    <%= render :partial => 'page/nav_bar' %>
    <form action="" method="POST">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <label for="">Event name:</label>
                    <input type="text" name="event_name" class="form-control" id="exampleInputEventName" aria-describedby="emailHelp" placeholder="Event name">
                    <br>
                    <label for="">Date:</label>
                    <input type="date" name= "date" class="form-control" id="exampleInputDate" aria-describedby="dateHelp">
                    <br>
                    <label for="">Time:</label>
                    <input type="text" name="time" class="form-control" id="exampleInputTime" aria-describedby="timeHelp" placeholder="Time">
                    <br>
                    <label for="">Location:</label>
                    <input type="text" name= "location" class="form-control" id="exampleInputLocation" aria-describedby="locationHelp" placeholder="400 Bizzell St">
                    <br>
                    <label for="">Event Type:</label>
                    <input type="text" name="event_type" class="form-control" id="exampleInputType" aria-describedby="locationHelp" placeholder="Event Type">
                    <br>
                    <label for="">Description:</label>
                    <textarea class="form-control" name= "description" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <br>
                    <label for="">Password:</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword" aria-describedby="passwordHelp" placeholder="Password">
                    <br>
                    <label for="">Confirm Password:</label>
                    <input type="password" class="form-control" id="exampleInputPassword" aria-describedby="passwordHelp" placeholder="Confirm Password">
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
    </form>
    <form action="" method="POST">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Login to Event to earn points!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="">Event Password:</label>
                    <input type="text" name="event_password" class="form-control" id="exampleInputEventName" placeholder="Event Password">
                 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        <div class = "row first-row make-f">
            <p class="tamu-row-1">Texas A&M’s Professional Brotherhood</p>
            <h2>Member Events</h2>
        </div>
        <div class="row second-row-events">
            <div class="mask-snow"></div>
            <%= image_tag "events_pictures/tamu_overview.jpg", :class => "tamu-overview" %>
            <iframe src="https://calendar.google.com/calendar/embed?src=olsisadiku%40tamu.edu&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            
            <div class="button-div">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Create Event
                </button>
            </div>
        </div>
        <br>
        <div class="row table-event-row">
            <div class="row-container">
                <h1 class="event-details-header">Event Details</h1>
                <table class="table table-hover event-table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Event Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Location</th>
                        <th scope="col">Event Type</th>
                        <th scope="col">Password</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Customer Meet</td>
                        <td>11/12/2022</td>
                        <td>8:00PM</td>
                        <td>510 Aspury Dr</td>
                        <td>Council</td>
                        <td>Council</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="" data-target="">
                                Delete
                            </button>
                        </td>
                        <td>
                            <a href="/edit_event" target= "_blank">
                                <button type="button" class="btn btn-primary">
                                    Edit
                                </button>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                Login
                            </button>
                        </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        
        
    </div>
</main>

<% end %>