<% @page_title = "ABB Home" %>
<%= stylesheet_link_tag 'faq' %>
<% content_for :main do %>
<main>
   <%= render :partial => 'page/nav_bar' %>
    <div class="container">
        
    </div>
</main>
<% end %>