<% @page_title = "Login Page" %>
<%= stylesheet_link_tag 'login' %>

<head>
  <link rel="stylesheet" href="/app/assets/stylesheets/login.css">
</head>


<div class = walkway></div>


<div class = forma>
<div class = login-title>Login </div> 
    <br>
    <form>
        <label for="fname">Email:</label>
        <input type="text" id="fname" name="fname" placeholder="@enter email"><br>
        <br>

        <label for="lname">Password:</label>
        <input type="text" id="lname" name="lname" placeholder="@enter password"><br>
        <br>
        <a href="/index" style="color:white;"><button type="button" class="buttonLog-back">Back</button></a> 
        <input type="submit" class="buttonLog-submit" value="Confirm">
    </form> <br>
    <p style="font-size:17.5px;">----------- OR -----------<p>
    <p style="font-size:16px;">Need an account? <a href="/create_account" style="color:#F78A8A;">SIGN UP</a><p>
</div>


