/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body,html{
    margin: 0;
    height: 101vh;
    min-width: 99vw ;
}

main{
    background-color: rgba(80,0,0,.2) !important;

}
.container {
    position: relative;
}
@media (max-width: 1200px){
    .container{
        max-width: 100% !important;
        padding-left: 20px;
        padding-right: 20px;;
    }
}
a:hover {text-decoration: none; background: none;}
.container{ 
    margin: auto !important; 
    padding-top: 20px;  
    padding-bottom: 20px; 
}