body {
    background-color: #500000;
    position: relative;
    display: flex;
    justify-content: center;
}

.rev {
    background-image: url('rev.jpg');
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.sign-up-title {
    text-align: center;
    font-size: 60px;
    color: white;
}

.forma-sign-up {
    margin: auto !important;
    position: relative;
    left: 0;
    top: 0;
    font-size: 18px;
    color: white;
    line-height: normal;
}

.buttonLog-back {
    background-color: #500000;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding      : 10px 20px 10px 20px;
    border       : 2px solid #500000;
    position: relative; /* or absolute */
}

.buttonLog-submit {
    background-color: #500000;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding      : 10px 12px 10px 12px;
    border       : 2px solid #500000;
    position: relative; /* or absolute */
    left: 12%;
}

.login-button {
    color: white;
}

.login-button:visited {
    color: #c6c6c6;
}

.flash-error-color {
    color: black;
}

hr {
    width: 100%;
    border-top: 5px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; background-color: transparent; }
a:active { text-decoration: none; }