.gradient-custom-3 {
    /* fallback for old browsers */
    background: #500000;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(105, 0, 0, 0.5), rgba(160, 89, 89, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(105, 0, 0, 0.5), rgba(160, 89, 89, 0.5))
  }
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #500000;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(105, 0, 0, 1), rgb(160, 89, 89, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(105, 0, 0), rgb(160, 89, 89))
  }