.first-container{
    background-image: url('rev');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

}

.header{
    font-size: 3rem;
    position: fixed;
    text-align:center
}

.forma {
    position: fixed; /* or absolute */
    top: 25%;
    left: 44%;
    font-size: 18px;
    color: white;
    line-height: normal;
}


.buttonLog-back {
    background-color: #080707;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding      : 10px 20px 10px 20px;
    border       : 2px solid #500000;
    position: relative; /* or absolute */
}

.buttonLog-submit {
    background-color: #050404;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding      : 10px 12px 10px 12px;
    border       : 2px solid #500000;
    position: relative; /* or absolute */
    left: 12%;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; background-color: transparent; }
a:active { text-decoration: none; }