.container{
    background-color: #500000;
}
.first-row h2{
    text-align: center;
}

.tamu-overview{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0%;
    padding:0 !important;

}

.second-row-events{
    position: relative;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
}
iframe{
    z-index: 2;
    width: 75% !important;
    margin: auto;
}
.second-row-events button{
    z-index: 2;
    width: 30%;
    min-width: 50px;
}
.button-div {
    display: flex;
    z-index: 2;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}
.modal-footer{
    justify-content: center !important;
}

.modal-body {
    overflow-y: auto;
    max-height: 500px;
}
.event-table {
    margin-top: 20px !important;
    background: white;
    width: 75% !important;
    margin: auto;
}
.table-event-row{
    padding-bottom: 50px;
}

.event-details-header{
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: auto;
}