main{
    padding: 20px;
    background-color: #eeeeee;
}
.top-row{
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 

}

.image-slideshow{
    width: 100%;
}
.second-row{
    display: flex;
    height: 500px;
}

.second-row img{
    height: 100%;
    width: auto;
}

.about-us {
    width: 100%;
    text-align: center;
    padding: 20px;
    outline: 1px solid #e2e2e2;
    background-color: #500000;
    color: white;
}
.about-us h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    text-decoration: underline;
}
.about-us p {
    font-size: 2rem;
}

.final-row{
    margin-top: 10px;
    width: 100%;
    height: 5rem;
    
    display: flex;
    justify-content: space-between;
}
.final-row div{
    text-align: center;
    margin: auto;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-top: 1px solid #500000;
    border-bottom: 1px solid #500000;
    transition: all ease-in .3s;

}
.final-row div a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.final-row div:hover a{
    color: white !important;
}
.final-row div:hover{
    background-color: #500000;
    transition: all ease-in .3s;

}

.merch-link {
    width: 50%;
    
    
}

.application-link {
    width: 50%;
}