.top-row{
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 

}
.first-container{
    background-image: url('academic_plaza-600x396');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

}
.make-f > *{
    z-index: 122;
    color: white;
}
.tamu-row-1{
    font-size: 1.2rem;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(80, 0, 0, .5);
    z-index: 10;
}
.image-slideshow{
    z-index: 11;
}
.second-row{
    display: flex;
    height: 500px;
}
a:hover { text-decoration: none; background-color: transparent; }
.group-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.col-lg {
    padding: 0 !important;
}
.about-us {
    max-height: 680px;
    text-align: center;
    padding: 20px !important;
    overflow-y: auto;
    color: white;
    z-index: 11;
}
.about-us h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
.about-us hr {
    color: white;
    background-color: white;
    opacity: .7;
}
.about-us p {
    margin-top: 10px;
    font-size: 1.5rem;
    overflow-y: auto;
    line-height: normal;
}

.final-row{
    margin-top: 10px;
    width: 100%;
    height: 5rem;
    
    display: flex;
    justify-content: space-between;
}
.final-row div{
    text-align: center;
    margin: auto;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-top: 1px solid #500000;
    border-bottom: 1px solid #500000;
    transition: all ease-in .3s;

}
.final-row div a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.final-row div:hover a{
    color: white !important;
}
.final-row div:hover{
    background-color: #500000;
    transition: all ease-in .3s;

}

.merch-link {
    width: 50%;
    
    
}

.application-link {
    width: 50%;
}

.second-container{
    background-color: #500000;
    color: white;
}

.second-container .row {
    padding-top: 20px;
}
.second-container input {
    margin-top: 4px;
    height: 3rem;
    font-size: 1.2rem;
}
.second-container label {
    font-size: 1.2rem;
}
.second-container .form-group {
    text-align: center;
}
.second-container {
    padding-bottom: 100px !important;
}
.second-container textarea{
    width: 60%;
    font-size: 1.2rem;
    margin: auto;
    max-width: 500px;
}
.submit-btn {
    background-color: black;
    color: white;
    outline: none;
    border: none;
}
.submit-btn:active {
    background-color: white !important;
    color: black;
    transition: all .2s ease;
}
.logos-png img {
    width: auto;
    height: 60px;
}
.ig-png-div{
    position: relative;
}
.ig-png-div div {
    position: absolute;
    right: 0;
}
.form-group{
    min-width: 200px;
}
.ig-png-div{
    position: relative;
}
.ig-png-div div {
    position: absolute;
    right: 0;
}
@media (max-width:600px){
    .second-container textarea{
        width: 90%;
        font-size: 1.2rem;
        margin: auto;
    }
}