body {
    background-color: #500000;
}

.walkway {
    background-image: url('walkway.jpg');
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.login-title {
    text-align: center;
    font-size: 60px;
    color: white;
}

.forma {
    position: fixed; /* or absolute */
    top: 25%;
    left: 44%;
    font-size: 18px;
    color: white;
    line-height: normal;
}


.buttonLog-back {
    background-color: #500000;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding      : 10px 20px 10px 20px;
    border       : 2px solid #500000;
    position: relative; /* or absolute */
}

.buttonLog-submit {
    background-color: #500000;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding      : 10px 12px 10px 12px;
    border       : 2px solid #500000;
    position: relative; /* or absolute */
    left: 12%;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; background-color: transparent; }
a:active { text-decoration: none; }
