nav {
    width: 100%;
    height: 80px;
    background-color: #500000;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    display: flex;
    padding: 0 !important;
}
nav a {
    color: white !important; 
    font-size: 1.3rem;

}

.navbar-nav{
    width: 100%;

}
.navbar-brand {
    height: 100%;
}
.abb-logo{
    width: auto;
    height: 100%;
}

.navigation-links{
    color: white;
    display: flex;
    justify-content: space-around;

    font-size: 1.2rem;
    width: 60%;
    list-style: none;
    margin: auto;
}
.navigation-links li {
    cursor: pointer;
    
}
.user-account{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.account-png {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.arrow {
    box-sizing: border-box;
    margin-left: 10px;
    height: 1rem;
    width: 1rem;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  

.navbar-collapse.show {
    background-color: rgba(80,0,0,.8);
    z-index: 200;
    padding-bottom: 10px;
}

.navbar-collapse.show .navbar-nav .nav-item {
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px solid white;
    
}
.navbar-collapse.show .navbar-nav .nav-item a {
    width: fit-content;
    margin: auto;
}

.navbar-collapse.show .navbar-nav .user-account{
    margin: auto;
    border-bottom: none;
}

.dropdown-menu {
    background: #500000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: center;
}
.dropdown-divider{
    color: white;
    background: white;
}
.small-display-divider {
    display: none;
}
@media (max-width: 991px){
    .small-display-divider{
        display: block;
    }
}